@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-400.woff2) format("woff2"),
      url(../fonts/rubik/rubik-400.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-700.woff2) format("woff2"),
      url(../fonts/rubik/rubik-700.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src:url(../fonts/raleway/raleway-800.woff2) format("woff2"),
      url(../fonts/raleway/raleway-800.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}

:root{
  --color-light: #fff;
  --color-dark-text: #000000;
  --color-primary-text:#444444;
  --bg-light:#F0F0F0;
  --bg-light-dark:#EBEBEB;
  --bg-dark:#DCDCDC;
  --bg-bright: #FFE17F;
  --hover:#FFC700;
  --focus:#AF4FFF;
  --color-status-error:#ff3d3d;
  --color-status-warning:#fd912e;
  --color-status-progress:#08af00;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-primary-text);
}

.page-container{
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: var(--color-dark-text);
  cursor: pointer;
  padding: 10px 34px;
  background: linear-gradient(#fff 40%, #FFE17F 40%, #FFE17F 60%, #fff 60%, #fff 100%);
}

.button:hover{
  background-color: var(--bg-bright);
}

.button:focus{
  outline: 2px solid var(--focus);
}

.button:active{
  background-color: var(--hover);
}

.button:disabled{
  opacity: 0.3;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
  margin: 0;
}

.about-text{
  font-family: "Rubik","Arial",sans-serif;
  margin: 0;
}

.link-states:hover{
  opacity: 0.6;
}

.link-states:focus{
  outline: 2px solid var(--focus);
}

.link-states:active{
  opacity: 0.3;
}

/* Шапка */

.page-header {
  color: var(--color-dark-text);
}

.navigation{
  margin-top: 20px;
}

.container-user-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* Поиск */

.form-search{
  margin-top: 30px;
  margin-bottom: 23px;
}

/* Пользовательское меню */

.navigation{
  background: linear-gradient(var(--color-light) 20px, var(--bg-bright) 20px, var(--bg-bright) 100%);
}

.container-navigation{
  padding: 0 60px;
}

.header-logo{
  padding-top: 20px;
}

.user-link{
  position: relative;
  line-height: 30px;
  text-decoration: none;
  color: var(--color-dark-text);
}

.icon-basket::before{
  content:"2";
  position: absolute;
  top: 0;
  left: -17px;
  width: 21px;
  height: 21px;
  background-color: var(--color-light);
  border-radius: 50%;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.user-link-icon{
  margin-right: 12px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-item{
  padding: 22px;
}

.user-item:last-child{
  padding-right: 0;
}

/* Каталог и услуги */

.container-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.catalog{
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 0;
}

.catalog:focus{
  outline: 2px solid var(--focus);
}

.page-item{
  padding: 22px 22px;
}

.page-item:last-child{
  padding-right: 0;
}

.page-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--color-dark-text);
}

.button-menu{
  padding: 17px 20px;
  border: 2px solid var(--color-dark-text);
  opacity: 0.3;
  border-radius: 50%;
  background-color: var(--bg-bright);
  margin-left: 7px;
}

.button-menu:hover{
  opacity: 1;
}

.main-container{
  flex-grow: 1;
}

/* Слайдер */

.slider{
  position: relative;
  margin-bottom: 70px;
  background: linear-gradient(#FFE17F 23%, #fff 23%, #fff 76%);
}

.slider-button-left{
  position: absolute;
  top: 210px;
  left: 30px;
  min-width: 20px;
  min-height: 60px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/icons-left-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-list{
  padding: 0;
  margin: 0;
}

.slider-item{
  display: flex;
  margin-bottom: 120px;
}

.holder-slider{
  position: relative;
  margin-left: 40px;
  z-index: 2;
}

.slider-one::before{
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: -1;
  content: "01";
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: var(--color-light);
}

.slider-two::before{
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: -1;
  content: "02";
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: var(--color-light);
}

.slider-three::before{
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: -1;
  content: "03";
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: var(--color-light);
}

.title-slider{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
  margin-top: 110px;
  margin-bottom: 50px;
}

.about-text-slider{
  margin-bottom: 70px;
}

.button-slider{
  display: inline-block;
  margin-bottom: 60px;
}

.description td {
  padding-bottom: 20px;
  padding-right: 20px;
}

.description-text td{
  padding-bottom: 0;
}

.description tr:first-child {
  font-size: 36px;
  line-height: 30px;
  color: var(--color-dark-text);
}

.description tr:last-child{
  font-size: 16px;
  font-weight: 400;
}

.slider-button-right{
  position: absolute;
  top: 210px;
  left: 540px;
  min-width: 20px;
  min-height: 60px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/icons-right-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.container-dot{
  position: absolute;
  right: 0;
  bottom: 160px;
  display: grid;
  grid-template-columns: repeat(3, 12px);
  column-gap: 20px;
  z-index: 2;
}

.dot{
  background: var(--color-light);
  border: 2px solid var(--color-dark-text);
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.dot-active{
  background-color: var(--color-dark-text);
}

/* Список продуктов */

.products-navigation-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 80px;
}

.products-navigation-item:focus{
  outline: 2px solid var(--focus);
}

.products-icons::before{
  content:"";
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--bg-bright);
  margin-bottom: 30px;
}

.products-icons:hover::before{
  background-color:var(--hover);
}

.products-navigation-item:focus{
  outline: 2px solid var(--focus);
}

.products-navigation-item:active{
  opacity: 0.3;
}


.products-icons-1::after{
  content:"";
  width: 160px;
  height: 160px;
  background-image: url(../images/products-icons/products-virtual-reality.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.products-icons-2::after{
  content:"";
  width: 160px;
  height: 160px;
  background-image: url(../images/products-icons/products-selfie-monopods.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.products-icons-3::after{
  content:"";
  width: 160px;
  height: 160px;
  background-image: url(../images/products-icons/products-action-cameras.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.products-icons-4::after{
  content:"";
  width: 160px;
  height: 160px;
  background-image: url(../images/products-icons/products-fitness-bracelets.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.products-icons-5::after{
  content:"";
  width: 160px;
  height: 160px;
  background-image: url(../images/products-icons/products-smart-watch.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.products-icons-6::after{
  content:"";
  width: 160px;
  height: 160px;
  background-image: url(../images/products-icons/products-quadcopters.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.products-navigation-item{
  width: 160px;
  position: relative;
}

.products-navigation-item a{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-dark-text);
}

/* Наши услуги */

.services{
  background-color: var(--bg-light);
  background: linear-gradient(var(--color-light) 100px, var(--bg-light) 100px, var(--bg-light) 290px);
}

.container-services{
  display:grid;
  grid-template-columns: 280px 1fr;
  grid-template-areas:
    "label content"
    "label content"
    "label content";
  padding-bottom: 70px;
  padding-top: 70px;
  position: relative;
  z-index: 2;
}

.container-services::before{
  content:"";
  position: absolute;
  width: 7px;
  height: 320px;
  left: 280px;
  top: 0px;
  background-color: var(--color-dark-text);
}

.services-tab{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-dark-text);
  padding: 13px 0 13px 20px;
  margin-bottom: 35px;
  cursor: pointer;
}

.container-inner{
  position: relative;
  grid-area: content;
  margin-left: 116px;
}

.services-title{
  margin-bottom: 34px;
}

.services-text{
  display: none;
}

.services-text{
  max-width: 480px;
}

.services-text-one::before{
  content:"";
  position: absolute;
  width: 136px;
  height: 164px;
  background-image: url(../images/delivery.svg);
  right: 0;
}

.services-text-two::before{
  content:"";
  position: absolute;
  width: 171px;
  height: 195px;
  background-image: url(../images/guarantee.svg);
  right: 0;
}

.services-text-three::before{
  content:"";
  position: absolute;
  width: 156px;
  height: 188px;
  background-image: url(../images/credit.svg);
  right: 0;
}

.tab-one:checked ~ .container-inner>.services-text-one {
  display: block;
}

.tab-two:checked ~ .container-inner>.services-text-two {
  display: block;
}

.tab-three:checked ~ .container-inner>.services-text-three {
  display: block;
}

.services-tab::before{
  content: "";
  position: absolute;
  width: 160px;
  height: 34px;
  background:linear-gradient(var(--bg-light) 7px, var(--bg-bright) 7px,var(--bg-bright) 15px, var(--bg-light) 15px);
  z-index: -1;
  left: 0;
}

.services-tab-one::before{
  content: "";
  position: absolute;
  height: 34px;
  background:linear-gradient(var(--color-light) 7px, var(--bg-bright) 7px,var(--bg-bright) 15px, var(--bg-light) 15px);
}

.tab:checked+.services-tab {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--color-dark-text);
  color: var(--bg-bright);
}

.services-tab:hover{
  background: var(--bg-bright);
}

.services-tab:focus{
  outline: 2px solid var(--focus);
}

.services-tab:active{
  background-color: var(--hover);
}

/* Информация о достаке */

.delivery{
  margin-top: 70px;
  margin-bottom: 70px;
}

.container-button{
  position: relative;
  background-color: var(--bg-light);
  text-align: center;
}

.delivery-button{
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark-text);
  padding: 40px;
  background: url("../images/icons/icons-truck.svg"),
  url("../images/icons/icons-information.svg");
  background-repeat:no-repeat;
  background-position:center left, center right 30px;
}

.delivery-button::before{
  position: absolute;
  background-color: var(--bg-bright);
  width: 125px;
}

/* .delivery-button:hover::before{
  background-color: var(--hover);
} */

.delivery-button:focus{
  outline: 2px solid var(--focus);
}

.delivery-button:disabled{
  opacity: 0.3;
}

/* О нас */

.information{
  margin-bottom: 70px;
}

.container-column{
  display: flex;
}

.information-title{
  margin-bottom: 65px;
}

.information-title::before{
  content:"";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--color-dark-text);
  margin-bottom: 40px;
}

.information-about-text{
  margin-bottom: 50px;
}

.information-list{
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}

.information-item{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
  margin-bottom: 20px;
}

.information-item:last-child{
  margin-bottom: 0;
}

.information-item::before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--hover);
  border-radius: 50%;
  margin-right: 26px;
}

.container-about-us{
  max-width: 520px;
}

/* Контакты */

.container-contacts{
  max-width: 530px;
  margin-left: auto;
}

.information-subtitle{
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-primary-text);
  margin: 0;
  margin-bottom: 40px;
}

.address{
  font-style: normal;
}

.phone{
  color: var(--color-dark-text);
}

.information-subject{
  margin: 0;
  margin-bottom: 30px;
}

.information-schedule{
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.information-schedule-item{
  list-style-type: none;
  margin-bottom: 20px;
}

.information-schedule-item:last-child{
  margin-bottom: 0;
}

/* Подписаться на рассылку */

.mailing{
  background-color: var(--bg-light);
}

.container-mailing{
  padding-top: 70px;
  padding-bottom: 55px;
}

.container-mailing-text{
  display: flex;
  margin-bottom: 150px;
}

.container-mailing-text p{
  width: 550px;
  margin-left: auto;
}

.container-mailing-form{
  display: flex;
}

.mailing-text{
  margin: auto 0;
  padding-left: 32px;
  margin-left: auto;
  background-image: url("../images/icons/icons-tick-big.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.mailing-button{
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  cursor: pointer;
  padding: 20px 40px;
}

/* Подвал */

.page-footer{
  background-color: var(--color-primary-text);
}

.container-footer{
  margin-top: 50px;
}

.footer-logo{
  margin-bottom: 40px;
}

.footer-information{
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.footer-text{
  width: 240px;
}

.footer-address{
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: var(--color-light);
}

.footer-information-list{
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.footer-information-item{
  margin-right: 35px;
}

.footer-information-item:last-child{
  margin-right: 0;
}

.footer-information-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
}

.footer-information-states:hover{
  color: var(--hover);
  text-decoration: underline;
}

.footer-information-states:focus{
  outline: 2px solid var(--focus);
}

.footer-information-states:active{
  color: var(--hover);
  text-decoration: underline;
  opacity: 0.3;
}

.footer-information-phone{
  margin-left: auto;
}

.footer-phone{
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
}

.footer-social{
  display: flex;
  justify-content: space-between;
}

.footer-inner{
  width: 80px;
  height: 7px;
  background-color: var(--hover);
}

.footer-social-list{
  display: grid;
  grid-template-columns: repeat(3,40px);
  column-gap: 15px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.footer-social-item{
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: var(--color-light);
  opacity: 0.3;
  border-radius: 50%;
}

.button-social-tl{
  background-image: url("../images/icons/icons-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-social-yt{
  background-image: url("../images/icons/icons-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-social-tv{
  background-image: url("../images/icons/icons-tvitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-item:last-child{
  margin-right: 0;
}

.button-social:hover{
  background-color: var(--hover);
}

.button-social:focus{
  outline: 2px solid var(--focus);
}

.button-social:active{
  background-color: var(--hover);
}

/* Модалка */

.modal{
  display: block;
  width: 920px;
  margin: auto;
}

.container-modal{
  padding: 80px;
  border: 10px solid #000000;
  background: var(--color-light);
}

.modal-title{
  margin-bottom: 40px;
}

.modal-form{
  display: grid;
  grid-template-columns: 360px 140px 180px;
  column-gap: 40px;
  row-gap: 60px;
}

.modal-form p{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
  margin: 0;
}

.modal-form-name {
  grid-column: 1/2;
}

.modal-form-email{
  grid-column: 2/4;
}

.modal-form-text{
  grid-column: 1/3;
}

.modal-form-number{
  grid-column: 3/4;
}

.modal-form-inner{
  display: flex;
  flex-direction: column;
}

.form-label{
  margin-bottom: 15px;
}

.button-modal{
  border: none;
  justify-self: start;
}
