@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-400.woff2) format("woff2"),
      url(../fonts/rubik/rubik-400.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-700.woff2) format("woff2"),
      url(../fonts/rubik/rubik-700.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src:url(../fonts/raleway/raleway-800.woff2) format("woff2"),
      url(../fonts/raleway/raleway-800.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}

:root{
  --color-light: #fff;
  --color-dark-text: #000000;
  --color-primary-text:#444444;
  --bg-light:#F0F0F0;
  --bg-light-dark:#EBEBEB;
  --bg-dark:#DCDCDC;
  --bg-bright: #FFE17F;
  --hover:#FFC700;
  --focus:#AF4FFF;
  --color-status-error:#ff3d3d;
  --color-status-warning:#fd912e;
  --color-status-progress:#08af00;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-primary-text);
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: var(--color-dark-text);
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
}

/* Шапка */

.page-header {
  color: var(--color-dark-text);
  background-color: var(--bg-bright);
}

.navigation{
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
}

.container-user-menu{
  display: flex;
  justify-content: space-between;
}

.user-link{
  line-height: 30px;
  text-decoration: none;
  color: var(--color-dark-text);
}

.page-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--color-dark-text);
}

.container-menu{
  display: flex;
  justify-content: space-between;
}

.navigation-list{
  margin: 0;
  padding: 0;
}

.user-link{
  max-width: 500px;
}

.user-link-login{
  margin-right: 176px;
}

.page-menu{
  max-width: 470px;
  margin-left: auto;
}

.main-container{
  flex-grow: 1;
}

/* Слайдер */

.container-slider{
  width: 1160px;
  margin: 0 auto;
}

.slider-list{
  padding: 0;
}

.slider-item{
  display: flex;
}

.holder-slider{
  margin-left: 40px;
}

.title-slider{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
}

.about-text{
  font-family: "Rubik","Arial",sans-serif;
}

.description tr:first-child {
  font-size: 36px;
  line-height: 30px;
  color: var(--color-dark-text);
}

.description tr:last-child{
  font-size: 16px;
  font-weight: 400;
}

/* Список продуктов */

.products{
  width: 1160px;
  margin: 0 auto;
}

.products-navigation-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products-navigation-item a{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-dark-text);
}

/* Наши услуги */

.services{
  background-color: var(--bg-light);
}

.container-services{
  width: 1160px;
  margin: 0 auto;
}

.container-column{
  display: flex;
}

.services-tab-active{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--bg-bright);
  background-color: var(--black);
}

.services-tab{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--bg-bright);
}

/* Информация о достаке */

.delivery{
  width: 1160px;
  margin: 0 auto;
}

.container-button{
  background-color: var(--bg-light);
  text-align: center;
}

.delivery-button{
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark-text);
}

/* О нас */

.information{
  width: 1160px;
  margin: 0 auto;
}

.information-item{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
}

.container-about-us{
  max-width: 520px;
}

/* Контакты */

.container-contacts{
  max-width: 530px;
  margin-left: auto;
}

.information-subtitle{
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-dark-text);
}

.address{
  font-style: normal;
}

.phone{
  color: var(--color-dark-text);
}

/* Подписаться на рассылку */

.mailing{
  background-color: var(--bg-light);
}

.container-mailing{
  width: 1160px;
  margin: 0 auto;
}

.container-mailing-text{
  display: flex;
}

.container-mailing-text p{
  width: 550px;
  margin-left: auto;
}

.container-mailing-form{
  display: flex;
}

.mailing-text{
  margin-left: auto;
}

.mailing-button{
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
}

/* Подвал */

.page-footer{
  background-color: var(--color-primary-text);
}

.container-footer{
  width: 1160px;
  margin: 0 auto;
}

.footer-information{
  display: flex;
  justify-content: space-between;
}

.footer-text{
  width: 240px;
}

.footer-address{
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: var(--color-light);
}

.footer-information-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
}

.footer-phone{
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
}

.footer-social{
  display: flex;
  justify-content: space-between;
}

.footer-inner{
  width: 80px;
  height: 7px;
  background-color: var(--hover);
}

.button-social{
  color: var(--color-light);
}

/* Модалка */

.modal-form p{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
}

.modal .button{
  border: none;
}
