@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-400.woff2) format("woff2"),
      url(../fonts/rubik/rubik-400.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-700.woff2) format("woff2"),
      url(../fonts/rubik/rubik-700.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src:url(../fonts/raleway/raleway-800.woff2) format("woff2"),
      url(../fonts/raleway/raleway-800.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}

:root{
  --color-light: #fff;
  --color-dark-text: #000000;
  --color-primary-text:#444444;
  --bg-light:#F0F0F0;
  --bg-light-dark:#EBEBEB;
  --bg-dark:#DCDCDC;
  --bg-bright: #FFE17F;
  --hover:#FFC700;
  --focus:#AF4FFF;
  --color-status-error:#ff3d3d;
  --color-status-warning:#fd912e;
  --color-status-progress:#08af00;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-primary-text);
}

.page-container{
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: inline-block;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: var(--color-dark-text);
  border: none;
  cursor: pointer;
  padding: 10px 6px;
  z-index: 2;
}

.button::before{
  content:"";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 40%;
  bottom: 40%;
  background-color: var(--bg-bright);
  z-index: -1;
  transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out;
}

.button:hover::before{
  height: 100%;
  top: 0;
  background-color: var(--bg-bright);
}

.button:focus-visible{
  outline: 2px solid var(--focus);
}

.button:active::before{
  height: 100%;
  top: 0;
  background-color: var(--hover);
}

.button:disabled{
  opacity: 0.3;
}


.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
}

.subtitle{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-text);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

.link-states:hover{
  opacity: 0.6;
}

.link-states:focus-visible{
  outline: 2px solid var(--focus);
  opacity: 1;
}

.link-states:active{
  opacity: 0.3;
}

/* Шапка */

.page-header {
  color: var(--color-dark-text);
}

.navigation{
  margin-top: 20px;
}

.header-logo{
  padding-top: 20px;
}

.container-user-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* Поиск */

.form-search{
  margin-top: 30px;
  margin-bottom: 23px;
}

/* Пользовательское меню */

.navigation{
  background: linear-gradient(var(--color-light) 20px, var(--bg-bright) 20px, var(--bg-bright) 100%);
}

.container-navigation{
  padding: 0 60px;
}

.user-link{
  line-height: 30px;
  text-decoration: none;
  color: var(--color-dark-text);
}

.icon-number{
  position: relative;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 21px;
  height: 21px;
  background-color: var(--color-light);
  border-radius: 50%;
  padding: 2px 6px;
  margin-right: -10px;
  z-index: 1;
  bottom: 2px;
}

.user-link-icon{
  position: relative;
  margin-right: 12px;
  z-index: 0;
}

.user-link-current{
  opacity: 0.3;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-item{
  padding: 22px;
}

.user-item:last-child{
  padding-right: 0;
}

/* Каталог и услуги */

.container-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.page-item{
  padding: 22px 22px;
}

.page-item:last-child{
  padding-right: 0;
}

.page-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--color-dark-text);
}

.button-menu{
  padding: 17px 20px;
  border: 2px solid #000000;
  opacity: 0.3;
  border-radius: 50%;
  background-color: var(--bg-bright);
  margin-left: 7px;
}

.button-menu:hover{
  opacity: 1;
}

.button-menu:focus-visible{
  outline: none;
}

.main-container{
  flex-grow: 1;
}

.catalog:focus-visible{
  outline: 2px solid var(--focus);
}

/* Каталог */

.inner-header-title{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
}

.breadcrumbs{
  display: flex;
  padding: 0;
}

.breadcrumbs-item{
  position: relative;
  margin-right: 36px;
  list-style-type: none;
}

.breadcrumbs-item:last-child{
  margin-right: 0;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-text);
  text-decoration: none;
}

.breadcrumbs-link::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url("../images/icons/icons-bread-crumbs.svg");
  top: 12px;
  right: -19px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

/* Фильтр */

.container-catalog{
  background-color: var(--bg-light);
}

.catalog-products{
  display: flex;
}

.catalog-subtitle{
  margin-top: 25px;
  margin-bottom: 60px;
}

.catalog-filter-group{
  width: 200px;
  margin-right: 60px;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
  margin: 0;
}

.control{
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-text);
}

.select-control{
  color: var(--color-dark-text);
  border: none;
}

.button-catalog{
  background: linear-gradient(#F0F0F0 40%, #FFE17F 40%, #FFE17F 60%, #F0F0F0 60%, #F0F0F0 100%);
  padding: 10px 50px;
}

/* Продукты */

.container-sorting{
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
  position: relative;
}

.button-arrow-one::before{
  content:"";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/icons-sort-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 70px;
  padding: 10px;
  cursor: pointer;
  opacity: 0.2;
}

.button-arrow-two::before{
  content:"";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/icons-sort-up-two.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 40px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  opacity: 0.2;
}

.button-arrow-one:hover:before,
.button-arrow-two:hover:before{
  opacity: 0.5;
}

.button-arrow-one:focus-visible:before,
.button-arrow-two:focus-visible:before{
  outline: 2px solid var(--focus);
  opacity: 1;
}

.button-arrow-one:active:before,
.button-arrow-two:active:before{
  opacity: 1;
}

.container-product{
  background-color: var(--color-light);
  padding: 70px 40px 78px 40px;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.product-card-image{
  background-color: var(--bg-light);
  object-fit: cover;
}

.product-card{
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.product-card a{
  font-weight: 700;
  color: var(--color-dark-text);
  text-decoration: none;
}

.product-card b{
  font-weight: 400;
  color: var(--color-primary-text);
}

.product-card-content{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.product-card-title{
  margin: 0;
  max-width: 226px;
}

.product-card-button{
  display: none;
}

.product-card:hover{
  opacity: 0.6;
}

.product-card-button:hover{
  display: block;
  position: absolute;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  left: 70px;
  top: 186px;
  z-index: 1;
}

.product-card-button:hover::before{
  content:"";
  position: absolute;
  height: 8px;
  width: 220px;
  left: 0;
  top: 8px;
  background-color: var(--bg-bright);
  z-index: -1;
}

.product-button{
  cursor: pointer;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-dark-text);
  border: 3px solid #E5E5E5;
  background-color: var(--color-light);
  width: 100%;
  margin-bottom: 45px;
  padding: 18px 0;
}

.product-button:hover{
  border: 3px solid var(--color-dark-text);
}

.product-button:focus-visible{
  outline: 2px solid var(--focus);
}

.product-button:active{
  border: 3px solid var(--color-dark-text);
  opacity: 0.3;
}

.product-button:disabled{
  opacity: 0.3;
}

/* Пагинация */

.container-pagination{
  display: flex;
  justify-content: space-between;
  background: var(--bg-light-dark);
}

.pagination{
  display: flex;
}

.pagination-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary-text);
  padding: 25px;
}

.pagination-item{
  list-style-type: none;
}

.pagination-item a {
  font-family: "Rubik","Arial",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-primary-text);
  opacity: 0.3;
  padding: 10px;
}

.pagination-link-button:hover{
  background-color: var(--bg-dark);
}

.pagination-link-button:focus-visible{
  outline: 2px solid var(--focus);
}

.pagination-link-button:active{
  opacity: 0.3;
}

.pagination-link-pare:hover{
  color: var(--color-primary-text);
  opacity: 1;
}

.pagination-link-pare:focus-visible{
  outline: 2px solid var(--focus);
}

.pagination-link-pare:active{
  opacity: 0.1;
}

/* Подвал */

.page-footer{
  background-color: var(--color-primary-text);
}

.container-footer{
  margin-top: 50px;
}

.footer-logo{
  margin-bottom: 40px;
}

.footer-information{
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.footer-text{
  width: 240px;
}

.footer-address{
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: var(--color-light);
}

.footer-information-list{
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.footer-information-item{
  margin-right: 35px;
}

.footer-information-item:last-child{
  margin-right: 0;
}

.footer-information-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
}

.footer-information-states:hover{
  color: var(--hover);
  border-bottom: 2px solid var(--hover);
  padding-bottom: 4px;
}

.footer-information-states:focus-visible{
  outline: 2px solid var(--focus);
}

.footer-information-states:active{
  color: var(--hover);
  border-bottom: 2px solid var(--hover);
  padding-bottom: 4px;
  opacity: 0.3;
}

.footer-information-phone{
  margin-left: auto;
}

.footer-phone{
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
}

.footer-phone:hover{
  color: var(--hover);
}

.footer-phone:focus{
  outline: none;
}

.footer-phone:focus-visible{
  outline: 2px solid var(--focus);
}

.footer-phone:active{
  opacity: 0.3;
}

/* Соц сети */

.footer-social{
  display: flex;
  justify-content: space-between;
}

.footer-inner{
  width: 80px;
  height: 7px;
  background-color: var(--hover);
}

.footer-social-list{
  display: grid;
  grid-template-columns: repeat(3,40px);
  column-gap: 15px;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.button-social{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: var(--color-light);
  opacity: 0.3;
  border-radius: 50%;
}

.button-social-tl::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  left: 13px;
  top: 14px;
  background-image: url("../images/icons/icons-telegram.svg");
  background-repeat: no-repeat;
}

.button-social-yt::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 11px;
  left: 12px;
  top: 15px;
  background-image: url("../images/icons/icons-youtube.svg");
  background-repeat: no-repeat;
}

.button-social-tv::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 14px;
  left: calc(50% - 15px/2 + 0.5px);
  top: calc(50% - 14.06px/2 + 0.03px);
  background-image: url("../images/icons/icons-tvitter.svg");
  background-repeat: no-repeat;
}

.footer-social-item:last-child{
  margin-right: 0;
}

.button-social:hover{
  background-color: var(--hover);
  opacity: 1;
}

.button-social:focus-visible{
  outline: none;
}

.button-social:focus-visible{
  outline: 2px solid var(--focus);
}

.button-social-tv:active::before,
.button-social-yt:active::before,
.button-social-tl:active::before{
  opacity: 0.3;
}

.footer-logo-html:hover{
  fill: var(--color-light);
}

.logo-html:focus-visible{
  outline: none;
}

.footer-logo-html:focus-visible{
  outline: 2px solid var(--focus);
}

.footer-logo-html:active{
  opacity: 0.3;
}
