@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

:root{
  --color-light: #ffffff;
  --color-dark-text: #000000;
  --color-primary-text:#444444;
  --bg-popover:#1A1A1A;
  --bg-light:#F0F0F0;
  --bg-light-dark:#EBEBEB;
  --bg-dark:#DCDCDC;
  --bg-bright: #FFE17F;
  --bb-mailing: #C4C4C4;
  --br-mark: #cccccc;
  --br-product: #E5E5E5;
  --hover:#FFC700;
  --focus:#AF4FFF;
  --color-status-error:#ff3d3d;
  --color-status-warning:#fd912e;
  --color-status-progress:#08af00;
}

html{
  height: 100%;
}

body{
  min-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-primary-text);
}

.page-container{
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: var(--color-dark-text);
  border: none;
  cursor: pointer;
  padding: 10px 6px;
  z-index: 2;
}

.button::before{
  content:"";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 40%;
  bottom: 40%;
  background-color: var(--bg-bright);
  z-index: -1;
  -webkit-transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out;
}

.button:not(:disabled):hover::before{
  height: 100%;
  top: 0;
  background-color: var(--bg-bright);
}

.button:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.button:not(:disabled):active::before{
  height: 100%;
  top: 0;
  background-color: var(--hover);
}

.button:disabled{
  opacity: 0.3;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
}

.subtitle{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-text);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
}

/* Состояния ссылок */

.link-states:hover{
  opacity: 0.6;
}

.link-states:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.link-states:active{
  opacity: 0.3;
}

.link-states:disabled{
  opacity: 0.3;
}

.link-states-active{
  border-bottom: 2px solid var(--color-dark-text);
  padding-bottom: 4px;
}

.link-states-active:hover{
  border-bottom: 2px solid var(--color-dark-text);
  padding-bottom: 4px;
  opacity: 0.6;
}

.link-states-active:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px 2px 8px 2px;
  border-bottom: 2px solid var(--color-dark-text);
  padding-bottom: 4px;
}

.link-states-active:active{
  border-bottom: 2px solid var(--color-dark-text);
  padding-bottom: 4px;
  opacity: 0.3;
}

/* Шапка */

.page-header {
  color: var(--color-dark-text);
}

.navigation{
  margin-top: 15px;
}

.container-user-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Поиск */

.form-search{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-search{
  width: 360px;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-dark-text);
  padding: 8px 48px;
  border: 2px solid var(--color-dark-text);
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  background-image: url("../images/icons/icons-search.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

input.input-search::-webkit-input-placeholder{
  color: var(--color-dark-text);
}

input.input-search::-moz-placeholder{
  color: var(--color-dark-text);
}

input.input-search:-ms-input-placeholder{
  color: var(--color-dark-text);
}

input.input-search::-ms-input-placeholder{
  color: var(--color-dark-text);
}

input.input-search::placeholder{
  color: var(--color-dark-text);
}

.button-search{
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 55px;
  border: 2px solid var(--color-dark-text);
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  margin-left: -2px;
}

.button-search:focus-visible{
  outline: none;
}

.button-search:hover:not(:disabled){
  background-color: var(--color-dark-text);
  color: var(--color-light);
}

.input-search:focus-visible{
  outline: none;
}

.search:focus-within{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.button-search:focus-visible::before{
  content: "";
  position: absolute;
  width: 164px;
  height: 44px;
  outline: 2px solid var(--focus);
  outline-offset: 1px;
  top: -2px;
  right: 0;
}

.button-search:active{
  background-color: var(--color-dark-text);
  color: rgba(255, 255, 255, 0.3);
}

.button-search:disabled,
.input-search:disabled{
  opacity: 0.3;
}

/* Пользовательское меню */

.navigation{
  background: -o-linear-gradient(var(--color-light) 20px, var(--bg-bright) 20px, var(--bg-bright) 100%);
  background: linear-gradient(var(--color-light) 20px, var(--bg-bright) 20px, var(--bg-bright) 100%);
}

.container-navigation{
  padding: 0 60px;
}

.user-link{
  line-height: 30px;
  text-decoration: none;
  color: var(--color-dark-text);
}

.icon-number{
  position: relative;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  width: 21px;
  height: 21px;
  background-color: var(--color-light);
  border-radius: 50%;
  padding: 2px 6px;
  margin-right: 12px;
  z-index: 1;
  bottom: 2px;
}

.user-link-icon{
  content: "";
  background-image: url("../images/icons/icons-user.svg");
  background-repeat: no-repeat;
  background-position: 1px 4px;
  padding-left: 24px;
  z-index: 0;
}

.compare-link-icon{
  content: "";
  background-image: url("../images/icons/icons-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 24px;
  z-index: 0;
}

.basket-link-icon{
  content: "";
  background-image: url("../images/icons/icons-basket.svg");
  background-repeat: no-repeat;
  background-position: 14px 4px;
  z-index: 0;
}

.user-link-current{
  opacity: 0.3;
}

.navigation-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-item{
  padding: 13px;
}

.user-item:last-child{
  padding-right: 0;
}

/* Popover */

.user-link-basket{
  position: relative;
}

.popover{
  position: absolute;
  background-color: var(--color-dark-text);
  z-index: 3;
  color: var(--color-light);
  left: -120px;
  max-width: 320px;
}

.popover-cart::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 6px;
  background-image:url("../images/popover-triangle.svg");
  top: -6px;
  left: 153px;
}

.popover-list{
  padding: 0;
}

.popover-user{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 20px 20px;
}

.popover-product{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 53px;
}

.popover-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-light);
  max-width: 155px;
  margin-left: 23px;
}

.close{
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/icons-close-white.svg");
  background-repeat: no-repeat;
  background-position: right top;
  border:none;
  background-color: transparent;
  cursor: pointer;
}

.container-price{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--bg-popover);
  padding: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.popover-button{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  padding: 14px 20px;
  margin: 20px;
  cursor: pointer;
  max-width: 280px;
}

.popover-link:focus,
.close:focus{
  outline: none;
}

.popover-button:hover:not(:disabled){
  background-color: var(--bg-bright);
}

.popover-button:focus-visible,
.close:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.popover-button:active{
  background-color: var(--bg-bright);
  color: rgba(0, 0, 0, 0.3);
}

.popover-button:disabled{
  color: rgba(0, 0, 0, 0.3);
}

.popover-product:hover{
  opacity: 0.6;
}

.popover-product:focus-within{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.popover-product:active{
  opacity: 0.3;
}

.user-link-basket:focus-within .popover{
  display: block;
}

.popover{
  display: none;
}

/* Каталог и услуги */

.container-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
}

.catalog{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-item{
  padding: 22px 22px;
}

.page-item:last-child{
  padding-right: 0;
}

.page-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--color-dark-text);
}

.button-menu{
  position: relative;
  padding: 17px 69px 17px 0;
  background-color: var(--bg-bright);
  border:none;
}

.button-menu-link{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: -2px;
  border: 2px solid var(--color-dark-text);
  border-radius: 50%;
  opacity: 0.3;
}

.button-menu-link::before,
.button-menu-link::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--color-dark-text);
  top: 24px;
  left: 17px;
}

.button-menu-link::after{
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button-menu-link:hover{
  opacity: 1;
}

.button-menu:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.button-menu:focus .button-menu-link::after{
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.button-menu:disabled,
.button-menu:disabled .button-menu-link{
  opacity: 0.3;
}

.main-container{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Subcatalog */

.container-subcatalog{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1160px;
  background-color: var(--bg-bright);
  left: -60px;
  top: 59px;
  z-index: 3;
  padding: 32px 60px 60px 60px;
}

.subcatalog{
  padding: 0;
  margin: 0;
}

.subcatalog-item{
  margin-right: 72px;
  margin-bottom: 18px;
}

.subcatalog-item{
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
}

.subcatalog-link{
  text-decoration: none;
  color: var(--color-dark-text);
}

.catalog:focus-within .container-subcatalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-subcatalog{
  display: none;
}

/* Каталог */

.inner-header{
  margin-top: 34px;
  margin-left: 60px;
}

.inner-header-title{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.breadcrumbs-item{
  position: relative;
  margin-right: 36px;
  list-style-type: none;
}

.breadcrumbs-item:last-child{
  margin-right: 0;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-text);
  text-decoration: none;
}

.breadcrumbs-link::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url("../images/icons/icons-bread-crumbs.svg");
  top: 12px;
  right: -19px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

/* Фильтр */

.container-catalog{
  background-color: var(--bg-light);
}

.catalog-products{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filter{
  margin-top: 25px;
  margin-left: 55px;
  margin-right: 40px;
}

.catalog-subtitle{
  margin-bottom: 70px;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
  margin: 0;
  margin-bottom: 28px;
}

/* Стоимость */

.range{
  position: relative;
  width: 200px;
  margin-bottom: 53px;
}

.range-scale{
  position: relative;
  height: 2px;
  width: 200px;
  background-color: var(--bg-dark);
  margin-bottom: 11px;
}

.range-bar{
  position: absolute;
  height: 2px;
  background-color: var(--color-dark-text);
}

.range-toggle{
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  border: 2px solid var(--color-dark-text);
  background-color: var(--bg-light-dark);
  cursor: pointer;
}

.range-toggle:hover:not(:disabled){
  border-color: rgba(0, 0, 0, 0.6);
}

.range-toggle:focus-visible{
  outline: none;
}

.range-toggle:focus-visible::before{
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  outline: none;
  border:2px solid var(--focus);
}

.range-toggle:active{
  background-color: var(--color-dark-text);
}

.toggle-min{
  left: -5px;
  top: -9px;
}

.toggle-max{
  left: 115px;
  top: -9px;
}

.range-wrapper-inputs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.3;
}

.range-input{
  width: 30px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  padding-left: 5px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-input[type='number'] {
  -moz-appearance: textfield;
}

.catalog-filter-label{
  font-size: 15px;
  line-height: 18px;
}

.range-input:focus,
.range-input:focus-visible{
  outline: none;
}

.catalog-filter-label:focus-within{
  outline:2px solid var(--focus);
  outline-offset: 2px;
  opacity: 1;
}

/* Цвет */

.catalog-filter-group{
  position: relative;
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 47px;
}

.catalog-filter-group-three{
  margin-bottom: 35px;
}

.catalog-filter-title::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: var(--color-dark-text);
  top: -12px;
}

.catalog-filter-list{
  padding: 0;
  margin: 0;
  margin-top: -5px;
}

.catalog-filter-item{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.control{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-text);
  padding-left: 36px;
}

.control-mark{
  position: absolute;
  width: 16px;
  height: 16px;
  left: 5px;
  border: 2px solid var(--br-mark);
  border-radius: 3px;
}

.control-input:hover:not(:disabled) + .control-mark,
.control-input:hover:not(:disabled) ~ .control-label{
  opacity: 0.6;
}

.control-input:focus-visible:not(:disabled) + .control-mark::after{
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  border: 2px solid var(--focus);
  top: -7px;
  left: -7px;
}

.control-input:active:not(:disabled) + .control-mark,
.control-input:active:not(:disabled) ~ .control-label{
  opacity: 0.3;
}

.control-input:disabled + .control-mark,
.control-input:disabled ~ .control-label{
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/icons-tick.svg");
  top: 3px;
  left: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark{
  border: 2px solid var(--color-dark-text);
}

/* Bluetooth */

.control-mark-radio{
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before{
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-dark-text);
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.control-input[type="radio"]:checked + .control-mark{
  border: 2px solid var(--color-dark-text);
}

.button-catalog{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, var(--bg-light)), color-stop(40%, var(--bg-bright)), color-stop(60%, var(--bg-bright)), color-stop(60%, var(--bg-light)), to(var(--bg-light)));
  background: -o-linear-gradient(var(--bg-light) 40%, var(--bg-bright) 40%, var(--bg-bright) 60%, var(--bg-light) 60%, var(--bg-light) 100%);
  background: linear-gradient(var(--bg-light) 40%, var(--bg-bright) 40%, var(--bg-bright) 60%, var(--bg-light) 60%, var(--bg-light) 100%);
  padding: 10px 50px;
}

/* Продукты */

.container-sorting{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 20px 0;
  max-width: 840px;
}

.subtitle-sorting{
  max-width: 250px;
  margin-left: 40px;
}

.container-select-control{
  margin-top: -8px;
  margin-right: 90px;
}

.select-control{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-dark-text);
  border: none;
  -webkit-appearance: none;
      -moz-appearance: none;
          appearance: none;
  background-color: var(--dg-dark);
  background-image: url("../images/icons/icons-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  max-width: 200px;
}

.select-control:not(:disabled):hover{
  opacity: 0.6;
}

.select-control:focus-visible{
  outline: 2px solid var(--focus);
}

.select-control:not(:disabled):active{
  opacity: 0.3;
}

.select-control:disabled{
  opacity: 0.1;
}

.button-arrow-one::before{
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/icons-sort-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 70px;
  top: -5px;
  padding: 10px;
  cursor: pointer;
  opacity: 0.2;
}

.button-arrow-two::before{
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/icons-sort-up-two.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 40px;
  top: -5px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  opacity: 0.2;
}

.button-arrow-one:hover:before,
.button-arrow-two:hover:before{
  opacity: 0.5;
}

.button-arrow-one:focus-visible:before,
.button-arrow-two:focus-visible:before{
  outline: 2px solid var(--focus);
  opacity: 1;
}

.button-arrow-one:active:before,
.button-arrow-two:active:before{
  opacity: 1;
}

.container-product{
  background-color: var(--color-light);
  padding: 70px 40px 78px 40px;
}

.product-list{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 40px 360px;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.product-card-image{
  background-color: var(--bg-light);
  -o-object-fit: cover;
      object-fit: cover;
}

.product-card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

/* Метка NEW для товара */

.product-new::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../images/icons/icons-new.svg");
  top: 27px;
  right: 27px;
}

.product-card a{
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: var(--color-dark-text);
  text-decoration: none;
}

.product-card b{
  font-weight: 400;
  color: var(--color-primary-text);
}

.product-card-link{
  position: relative;
}

.product-card-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.product-card-title{
  margin: 0;
  max-width: 200px;
}

.product-card-text{
  max-width: 250px;
}

.product-card-button{
  display: none;
}

.product-card-link:hover .product-card-image,
.product-card-link:hover .product-card-content{
  opacity: 0.6;
}

.product-card-link .product-card-button{
  display: none;
  position: absolute;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  left: 70px;
  top: 186px;
  z-index: 1;
}

.product-card-button::before{
  content: "";
  position: absolute;
  height: 8px;
  width: 220px;
  left: 0;
  top: 6px;
  background-color: var(--bg-bright);
  z-index: -1;
}

.product-card-link:hover .product-card-button{
  display: block;
}

.product-card-link:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.product-card-link:active .product-card-button::before{
  background-color: var(--hover);
}

.product-button{
  cursor: pointer;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-dark-text);
  border: 3px solid var(--br-product);
  background-color: var(--color-light);
  width: 760px;
  margin-bottom: 43px;
  padding: 18px 0;
}

.product-button:hover:not(:disabled){
  border: 3px solid var(--color-dark-text);
}

.product-button:focus-visible:not(:disabled){
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.product-button:active:not(:disabled){
  border: 3px solid var(--color-dark-text);
  opacity: 0.3;
}

.product-button:disabled{
  opacity: 0.3;
}

/* Пагинация */

.container-pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--bg-light-dark);
  width: 760px;
}

.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.pagination-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary-text);
  padding: 25px;
}

.pagination-item{
  list-style-type: none;
}

.pagination-item a {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-primary-text);
  opacity: 0.3;
  padding: 10px;
}

.pagination-link-button:hover:not(:disabled){
  background-color: var(--bg-dark);
}

.pagination-link-button:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.pagination-link-button:active{
  opacity: 0.3;
}

.pagination-link-pare:hover:not(:disabled){
  color: var(--color-primary-text);
  opacity: 1;
}

.pagination-link-pare:focus-visible{
  outline: 2px solid var(--focus);
  color: rgba(68, 68, 68, 0.3);
  opacity: 1;
}

.pagination-link-pare:active{
  opacity: 0.1;
}

/* Подвал */

.page-footer{
  background-color: var(--color-primary-text);
}

.container-footer{
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-logo{
  margin-bottom: 27px;
}

.footer-information{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 288px 70px 444px 70px 293px;
  grid-template-columns: 288px 444px 293px;
  gap: 70px;
  margin-bottom: 48px;
}

.footer-text{
  width: 240px;
  padding: 0;
  margin: 0;
}

.footer-address{
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: var(--color-light);
}

.footer-information-list{
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.footer-information-item{
  margin-right: 30px;
}

.footer-information-item:last-child{
  margin-right: 0;
}

.footer-information-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
}

.footer-information-states:hover{
  color: var(--hover);
  border-bottom: 2px solid var(--hover);
  padding-bottom: 4px;
}

.footer-information-states:focus-visible{
  outline: 2px solid var(--focus);
}

.footer-information-states:active{
  color: var(--hover);
  border-bottom: 2px solid var(--hover);
  padding-bottom: 4px;
  opacity: 0.3;
}

.footer-information-phone{
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: right;
}

.footer-phone{
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
  margin: 0 5px 5px 5px;
}

.footer-phone:hover{
  color: var(--hover);
}

.footer-phone:focus{
  outline: none;
}

.footer-phone:focus-visible{
  outline: 2px solid var(--focus);
}

.footer-phone:active{
  opacity: 0.3;
}

/* Соц сети */

.footer-social{
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 288px 70px 444px 70px 293px;
  grid-template-columns: 288px 444px 293px;
  gap: 70px;
}

.footer-social-list{
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.footer-social-list::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 15px;
  left: 0;
  background-color: var(--hover);
}

.button-social{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--color-light);
  opacity: 0.3;
  border-radius: 50%;
}

.button-social-tl::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  left: 13px;
  top: 14px;
  background-image: url("../images/icons/icons-telegram.svg");
  background-repeat: no-repeat;
}

.button-social-yt::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 11px;
  left: 12px;
  top: 15px;
  background-image: url("../images/icons/icons-youtube.svg");
  background-repeat: no-repeat;
}

.button-social-tv::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 14px;
  left: calc(50% - 15px/2 + 0.5px);
  top: calc(50% - 14.06px/2 + 0.03px);
  background-image: url("../images/icons/icons-tvitter.svg");
  background-repeat: no-repeat;
}

.footer-social-item{
  margin-right: 15px;
  margin-bottom: 5px;
  list-style-type: none;
}

.footer-social-item:last-child{
  margin-right: 0;
}

.button-social:hover{
  background-color: var(--hover);
  opacity: 1;
}

.button-social:focus-visible{
  outline: none;
}

.footer-social-item:focus-within{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.button-social-tv:active::before,
.button-social-yt:active::before,
.button-social-tl:active::before{
  opacity: 0.3;
}

/* Лого html */

.logo-html{
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: right;
}

.logo-html-link{
  display: inline-block;
  margin: 5px;
}

.footer-logo-html{
  fill: var(--hover);
}

.footer-logo-html:hover{
  fill: var(--color-light);
}

.logo-html-link:focus-visible{
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.logo-html-link:active{
  opacity: 0.3;
}
