@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-400.woff2) format("woff2"),
      url(../fonts/rubik/rubik-400.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src:url(../fonts/rubik/rubik-700.woff2) format("woff2"),
      url(../fonts/rubik/rubik-700.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src:url(../fonts/raleway/raleway-800.woff2) format("woff2"),
      url(../fonts/raleway/raleway-800.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}

:root{
  --color-light: #fff;
  --color-dark-text: #000000;
  --color-primary-text:#444444;
  --bg-light:#F0F0F0;
  --bg-light-dark:#EBEBEB;
  --bg-dark:#DCDCDC;
  --bg-bright: #FFE17F;
  --hover:#FFC700;
  --focus:#AF4FFF;
  --color-status-error:#ff3d3d;
  --color-status-warning:#fd912e;
  --color-status-progress:#08af00;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-primary-text);
}

.page-container{
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: var(--color-dark-text);
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
  margin: 0;
}

.about-text{
  font-family: "Rubik","Arial",sans-serif;
  margin: 0;
}

/* Шапка */

.page-header {
  color: var(--color-dark-text);
}

.navigation{
  margin-top: 20px;
}

/* фон для шапки */
.box {
  width: 1160px;
  height: 165px;
  background-color: var(--bg-bright);

}

.header-logo{
  margin-left: 60px;
}

.container-user-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Поиск */

.form-search{
  margin-top: 30px;
  margin-bottom: 23px;
  margin-left: 60px;
}

/* Пользовательское меню */

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-item{
  padding: 23px 18px;
}

.user-item:last-child{
  margin-right: 44px;
}

.user-link{
  line-height: 30px;
  text-decoration: none;
  color: var(--color-dark-text);
}

/* Каталог и услуги */

.container-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.catalog a{
  padding: 30px;
  margin-left: 30px;
}

.page-item{
  padding: 23px 23px;
  border: 1px solid var(--color-dark-text);
}

.page-item:last-child{
  margin-right: 37px;
}

.page-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--color-dark-text);
  border: 1px solid var(--color-dark-text);
}

.main-container{
  flex-grow: 1;
}

/* Слайдер */

.slider{
  border: 1px solid var(--color-dark-text);
}

.slider-list{
  padding: 0;
}

.slider-item{
  display: flex;
  margin-bottom: 120px;
}

.holder-slider{
  margin-left: 40px;
}

.title-slider{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-dark-text);
  margin-top: 110px;
  margin-bottom: 50px;
}

.about-text-slider{
  margin-bottom: 70px;
}

.button-slider{
  display: block;
  margin-bottom: 60px;
}

.description td {
  padding-bottom: 20px;
  padding-right: 20px;
}

.description-text td{
  padding-bottom: 0;
}

.description tr:first-child {
  font-size: 36px;
  line-height: 30px;
  color: var(--color-dark-text);
}

.description tr:last-child{
  font-size: 16px;
  font-weight: 400;
}

/* Список продуктов */

.products-navigation-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-navigation-item{
  margin-bottom: 80px;
  width: 160px;
}

.products-navigation-item a{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-dark-text);
}

/* Наши услуги */


.container-column{
  display: flex;
}

.container-services{
  display: flex;
  min-height: 390px;
}

.container-tab{
  display: flex;
  flex-direction: column;
  width: 290px;
  color: var(--color-dark-text);
}

.services-tab-active{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--bg-bright);
  background-color: var(--color-dark-text);
  padding: 13px 148px 13px 20px;
  margin-bottom: 35px;
}

.services-tab{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black);
  padding: 13px 0 13px 20px;
  margin-bottom: 35px;
}

.container-inner{
  margin-left: 116px;
}

.services-title{
  margin-bottom: 50px;
}

.services-about-text{
  max-width: 450px;
}

/* Информация о достаке */

.container-button{
  background-color: var(--bg-light);
  text-align: center;
}

.delivery-button{
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-dark-text);
  padding: 40px;
}

.delivery{
  margin-bottom: 70px;
}

/* О нас */

.information{
  margin-bottom: 70px;
}

.information-inner{
  width: 80px;
  height: 7px;
  background-color: var(--color-dark-text);
}

.information-title{
  margin-bottom: 65px;
}

.information-about-text{
  margin-bottom: 50px;
}

.information-list{
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}

.information-item{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
  margin-bottom: 20px;
}

.information-item:last-child{
  margin-bottom: 0;
}

.container-about-us{
  max-width: 520px;
}

/* Контакты */

.container-contacts{
  max-width: 530px;
  margin-left: auto;
}

.information-subtitle{
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-primary-text);
  margin: 0;
  margin-bottom: 40px;
}

.address{
  font-style: normal;
}

.phone{
  color: var(--color-dark-text);
}

.information-subject{
  margin: 0;
  margin-bottom: 30px;
}

.information-schedule{
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.information-schedule-item{
  list-style-type: none;
  margin-bottom: 20px;
}

.information-schedule-item:last-child{
  margin-bottom: 0;
}

/* Подписаться на рассылку */

.mailing{
  background-color: var(--bg-light);
  padding: 1px;
}

.container-mailing{
  margin-top: 70px;
}

.container-mailing-text{
  display: flex;
  margin-bottom: 150px;
}

.container-mailing-text p{
  width: 550px;
  margin-left: auto;
}

.container-mailing-form{
  display: flex;
  margin-bottom: 55px;
}

.mailing-text{
  margin-left: auto;
}

.mailing-button{
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
}

/* Подвал */

.page-footer{
  background-color: var(--color-primary-text);
}

.container-footer{
  margin-top: 50px;
}

.footer-logo{
  margin-bottom: 40px;
}

.footer-information{
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.footer-text{
  width: 240px;
}

.footer-address{
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: var(--color-light);
}

.footer-information-list{
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.footer-information-item{
  margin-right: 35px;
}

.footer-information-item:last-child{
  margin-right: 0;
}

.footer-information-link{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
}

.footer-information-phone{
  margin-left: auto;
}

.footer-phone{
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
}

.footer-social{
  display: flex;
  justify-content: space-between;
}

.footer-inner{
  width: 80px;
  height: 7px;
  background-color: var(--hover);
}

.footer-social-list{
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.footer-social-item{
  width: 40px;
  height: 40px;
  margin-right: 15px;

  /* для наглядности, потом уберу*/
  background-color: #000000;
}

.footer-social-item:last-child{
  margin-right: 0;
}

/* Модалка */

.modal-form p{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-dark-text);
}

.modal .button{
  border: none;
}
